Repository pekochan069/solid-ui-neobrutalism: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro,css,yaml,yml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run biome lint --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

CHange settings
  astro.config.mjs
Due: format, lint

Fix dark mode
  astro.config.mjs
  src/components/header/header.astro
  src/components/header/mode-toggle.tsx
  src/layout/base-layout.astro
  src/layout/layout.astro
  src/styles/global.css
Due: format, lint

Remove unused file
  a.txt
Due: none

Update readme
  README.md
Due: none

Simple blocks viewer
  src/pages/blocks.astro
Due: format

Fix sidebar css
  src/components/ui/avatar.tsx
  src/components/ui/sidebar.tsx
  src/content/docs/components/sidebar.mdx
  src/registry/items/block/sidebar-01/page.tsx
  src/registry/items/block/sidebar-07/components/nav-user.tsx
Due: format, lint

Disable modal
  src/components/header/search-dialog.tsx
Due: format, lint

Add github link
  src/components/header/header.astro
Due: format

Add padding
  src/pages/index.astro
Due: format

Make blocks visible on mobile
  src/components/docs/block-display.astro
Due: format

Remove unused dependency
  bun.lock
  package.json
Due: format, lint
