Repository pekochan069/solid-ui-neobrutalism: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro,css,yaml,yml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run biome lint --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

Exclude some lint rules for astro files
  biome.json
Due: format, lint

Disable noSvgWithoutTitle lint rule
  biome.json
Due: format, lint

Disable padding for p tag
  src/components/mdx-components.tsx
Due: format, lint

Add dark mode and installation docs
  src/components/docs/command.astro
  src/components/docs/npm-command-tabs.tsx
  src/components/docs/npm-command.astro
  src/components/header/header.astro
  src/content/docs/components/button.mdx
  src/content/docs/dark-mode.mdx
  src/content/docs/dark-mode/astro.mdx
  src/content/docs/dark-mode/solid-start.mdx
  src/content/docs/dark-mode/tanstack-router.mdx
  src/content/docs/dark-mode/tanstack-start.mdx
  src/content/docs/dark-mode/vite.mdx
  src/content/docs/installation/astro.mdx
  src/content/docs/installation/solid-start.mdx
  src/content/docs/installation/tanstack-router.mdx
  src/content/docs/installation/tanstack-start.mdx
  src/content/docs/installation/tauri.mdx
  src/content/docs/installation/vite.mdx
  src/pages/index.astro
  src/styles/global.css
Due: format, lint

Remove readme templates
  README.md
Due: none

components.json
  src/content/docs/components-json.mdx
  src/content/docs/installation.mdx
  src/content/docs/installation/astro.mdx
  src/content/docs/installation/manual.mdx
  src/content/docs/installation/solid-start.mdx
  src/content/docs/installation/tanstack-router.mdx
  src/content/docs/installation/tanstack-start.mdx
  src/content/docs/installation/tauri.mdx
  src/content/docs/installation/vite.mdx
  src/content/docs/theming.mdx
Due: none

Add licenses
  LICENSES/neobrutalism-components
  LICENSES/shadcn-ui
  LICENSES/solid-ui
Due: none

Remove unused code
  scripts/build-registry.ts
Due: format, lint

Update docs specific components
  src/components/docs/collapsible-code-content.tsx
  src/components/docs/collapsible-code.astro
  src/components/docs/installation-tabs.astro
  src/components/docs/npm-command-tabs.tsx
  src/components/docs/npm-command.astro
  src/components/docs/preview-tabs.astro
Due: format, lint

Update headers and mode toggler
  src/components/header/desktop-nav.tsx
  src/components/header/header.astro
  src/components/header/mode-toggle.tsx
Due: format, lint

Update UI components
  src/components/ui/accordion.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/alert.tsx
  src/components/ui/badge-delta.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/calendar.tsx
  src/components/ui/callout.tsx
  src/components/ui/carousel.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/combobox.tsx
  src/components/ui/command.tsx
  src/components/ui/context-menu.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/menubar.tsx
  src/components/ui/number-field.tsx
  src/components/ui/otp-field.tsx
  src/components/ui/pagination.tsx
  src/components/ui/popover.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/resizable.tsx
  src/components/ui/sheet.tsx
  src/components/ui/table.tsx
  src/components/ui/text-field.tsx
  src/components/ui/toast.tsx
  src/components/ui/toggle-group.tsx
  src/components/ui/toggle.tsx
Due: format, lint

Move docs components styles to mdx-components
  src/components/mdx-components.tsx
  src/styles/global.css
Due: format, lint

Remove Toaster
  src/layout/base-layout.astro
Due: format

Update nav items
  src/lib/nav.ts
Due: format, lint

Update docs pages
  src/pages/docs/[...slug].astro
Due: format

Add LICENSE
  LICENSE
Due: none

Exclude registry files
  biome.json
  registry.json
Due: format, lint

Update contents collection configuration
  src/content.config.ts
Due: format, lint

Remove temporary file
  src/components/ui-test.tsx
  src/pages/index.astro
Due: format, lint

Fix Layout shifting issue
  src/components/docs/npm-command-tabs.tsx
  src/components/docs/npm-command.astro
  src/components/header/mobile-nav.tsx
Due: format, lint

Add sidebar components
  public/favicon.svg
  public/r/sidebar.json
  registry.json
  src/components/ui/sidebar.tsx
  src/content/docs/components/sheet.mdx
  src/content/docs/components/sidebar.mdx
  src/content/docs/components/skeleton.mdx
  src/registry/__index__.tsx
  src/registry/items/ui/sidebar.tsx
  src/registry/registry-ui.ts
Due: format, lint

Add logo
  src/assets/logo-invert.svg
  src/assets/logo.svg
Due: none

Update desktop nav
  src/components/header/header.astro
Due: format

Prepare colors page
  src/components/color-format-selector.tsx
  src/components/color-palette.tsx
  src/components/docs/sidebar.astro
  src/components/single-color.tsx
  src/lib/colors.ts
  src/pages/colors.astro
Due: format, lint

Fix style issues
  src/components/docs/preview-tabs.astro
  src/components/ui/pagination.tsx
  src/content/docs/dark-mode/astro.mdx
  src/content/docs/dark-mode/solid-start.mdx
  src/content/docs/dark-mode/tanstack-router.mdx
  src/registry/items/examples/alert-dialog-demo.tsx
  src/registry/items/examples/card-demo.tsx
  src/registry/items/examples/collapsible-demo.tsx
  src/registry/items/examples/dropdown-menu-demo.tsx
  src/registry/items/examples/menubar-demo.tsx
  src/registry/items/examples/pagination-demo.tsx
  src/registry/items/examples/resizable-demo.tsx
  src/registry/items/examples/tabs-demo.tsx
Due: format, lint

Doc sidebar and ToC
  a.txt
  src/components/color-format-selector.tsx
  src/components/colors-context.tsx
  src/components/docs/sidebar.astro
  src/components/docs/toc.astro
  src/components/single-color.tsx
  src/components/ui/sonner.tsx
  src/layout/base-layout.astro
  src/lib/nav.ts
  src/pages/colors.astro
  src/pages/docs/[...slug].astro
  src/pages/index.astro
Due: format, lint

Update registry
  public/r/pagination.json
  public/r/sonner.json
  src/registry/items/ui/pagination.tsx
  src/registry/items/ui/sonner.tsx
Due: format, lint

Update docs
  src/content/docs/components/callout.mdx
  src/content/docs/components/carousel.mdx
  src/content/docs/components/drawer.mdx
  src/content/docs/components/toggle.mdx
Due: none
